/*----------------------------------------*/
/*2010-10-01-For NewSI2*/
/*----------------------------------------*/
@charset "UTF-8";
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Logout (Link1) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

@import url("mem_header_navi_cn.css");

iframe { border:none;}
/*back*/
div#back { width:279px;	position: absolute;float: left;top:1px; margin-left: 700px;font-family: Arial, Helvetica, SimSun, sans-serif;z-index:1000;}


body.bodyset {margin: 0px;padding: 0px;background: #8A4102 url(../../images/member/head_bg_ft.jpg) repeat-x left top;behavior:url(/style/member/csshover.htc);}
#container { /*position: relative;*/font-family: Arial, Helvetica, SimSun, sans-serif;}
#header {	margin: 0px;	padding: 0px;}
#header h1 {/*behavior: url(png-opacity.htc);*/	/*background: transparent url(../../images/member/inda_head_l.png) no-repeat left top;margin: 0px;	display: block;	height: 56px;	padding: 0px;*/}
#header span {	/*background: transparent url(../../images/member/inda_head_r.jpg) no-repeat right top;	display: block;height: 56px;*/}
ul {	margin: 0;	padding: 0;}
a { text-decoration: none;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Welcome (Link2) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#welcome {position: absolute; top:27px; margin:0; padding:0; width:980px; color:#FFF; clear:left;}
#welcome li {list-style: none; float: left; margin-right: 3px; text-align:center;  font-size: 14px; line-height: 34px; padding-top:3px; white-space: nowrap;/*background: url(../../images/member/head_focus_btn_out.gif) no-repeat left top;*/}
#welcome a {display: block; /*float: left; *//* width: .1em;*/ padding: 0; /*width:130px;*/ font-weight: bold;  color: #E7B565;}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#welcome a {float: none;}            /* End IE5-Mac hack */
#welcome a:link, #welcome a:visited { color: #E7B565;}
#welcome a:hover {color: #F8C100;}
#welcome li.name { display:block; width:240px; margin-right: 0;	height:34px; line-height:16px; font:12px Arial, Helvetica, sans-serif; font-weight:bold; background:none;}
#welcome .pass { position: absolute; right:0px; padding-top:2px; padding-right:0px; text-align:right;font:12px Arial, Helvetica, sans-serif;}
#welcome .pass a { font-weight:normal!important; }
.rb_sum { font:12px  Arial, Helvetica, sans-serif; font-weight:bold;}
/*滾球圖*//**//**/
#welcome li.rb {width:107px;background: url(../../images/member/head_rb_btn.gif) no-repeat left top;}
#welcome li.today {width:128px;background: url(../../images/member/head_today_btn.gif) no-repeat left top;}
#welcome li.early { width:114px;background: url(../../images/member/head_early_btn.gif) no-repeat left top;}
/*#HFT #welcome li.rb .ball {display: block;background: url(../../images/member/head_ball_ft.gif) no-repeat 13px 50%;}
/*換標簽底色*/
/*~~~~~~~~~~~~~~~~~Notice! Don't delete this note, For IE hack~~~~~~~~~~~~~~~~~*/
#welcome li.rb_on  { width:107px; color: #F8C100; background: url(../../images/member/head_rb_btn.gif) 0 -40px no-repeat;}
#welcome li.today_on  { width:128px; color: #F8C100; background: url(../../images/member/head_today_btn.gif) 0 -40px no-repeat;}
#welcome li.early_on { width:114px; color: #F8C100; background: url(../../images/member/head_early_btn.gif) 0 -40px no-repeat;}
#welcome li.rb_on a:link, #welcome li.rb_on a:visited, #welcome li.today_on a:link, #welcome li.today_on a:visited,  #welcome li.early_on a:link, #welcome li.early_on a:visited{ color: #F8C100;}
#welcome li.live_tv {  margin-left:2px; width:28px; height:29px;background: url(../../images/member/live_tv_m.gif) 0 0 no-repeat;}
/*~~~~~~~~~~~~~~~~~無球賽~~~~~~~~~~~~~~~~~*//**/
#welcome li.rb_null  { width:107px; color: #7D6342; font-weight:bold; background: url(../../images/member/head_rb_btn.gif) 0 -80px no-repeat;}
#welcome li.today_null  { width:128px; color: #7D6342; font-weight:bold;  background: url(../../images/member/head_today_btn.gif) 0 -80px no-repeat;}
#welcome li.early_null { width:114px; color: #7D6342; font-weight:bold;  background: url(../../images/member/head_early_btn.gif) 0 -80px no-repeat;}
#welcome li.rb_null a:link, #welcome li.rb_null a:visited, #welcome li.today_null a:link, #welcome li.today_null a:visited,  #welcome li.early_null a:link, #welcome li.early_null a:visited{ color: #7D6342;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~Game Type ( link 3) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#nav {position: absolute; top:61px; margin:0 0 0 240px; padding:0; width:100%; clear:left; background: #D7D7C1 url(../../images/member/head_nav_bg_ft.gif) 0 0 repeat-x;border: solid 1px #FFF; white-space: nowrap;z-index:99;}
#nav li {list-style: none; float: left; text-align:center;  font-size: 0.75em; line-height: 22px; white-space: nowrap; background:url(../../images/member/head_nav_arr.gif) no-repeat 0 50%;}
#nav a {display: block; float: left; clear:left;  width: .1em; padding: 4px 10px 4px 32px;  color: #FFF;}
.nf_icon{border:none;}
/**/
html>body #nav a {width: auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav a {float: none;}            /* End IE5-Mac hack */

#nav a:link, #nav a:visited { color: #FFF;}
#nav a:hover {color: #FF0;}
/*======球類icon================*/
#nav li.ft { background: none; margin-left:-4px;}
#nav li.ft a { padding-left:40px;}
#nav li.ft .ball {	background: url(../../images/member/head_ball_ft.gif) no-repeat 20px 50%;}
/**/
#nav li.bk .ball {	background: url(../../images/member/head_ball_bk.gif) no-repeat 11px 50%;}
/* ball icon Live 2 */
#nav li.bk span.ball_nf { display:inline-block;vertical-align: text-bottom; margin:0 2px 0 2px; width:16px; height:17px;background: url(../../images/member/head_ball_nf.gif) no-repeat 0 0px;}
#nav li.bk span.ball_rl { display:inline-block;vertical-align: text-bottom; margin:0 2px; width:16px; height:17px;background: url(../../images/member/head_ball_rl.gif) no-repeat 0 0px;}
#nav li.vb span.ball_bad { display:inline-block;vertical-align: text-bottom; margin:0 2px; width:15px; height:17px;background: url(../../images/member/head_ball_bad.gif) no-repeat 0 0px;}
#nav li.vb span.ball_tt { display:inline-block;vertical-align: text-bottom; margin:0 2px; width:18px; height:17px;background: url(../../images/member/head_ball_tt.gif) no-repeat 0 0px;}

#nav li.op a { padding-left:11px;}
#nav li.tn .ball {	background: url(../../images/member/head_ball_tn.gif) no-repeat 11px 50%;}
#nav li.vb .ball {	background: url(../../images/member/head_ball_vb.gif) no-repeat 10px 50%;}
#nav li.bs .ball {	background: url(../../images/member/head_ball_bs.gif) no-repeat 10px 50%;}
#nav li .ball {	display: block;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Type (Link4) ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#type {position: absolute; top:93px; margin:0 0 0 240px; padding:0 10px; width:100%; clear:left; background: #260707 url(../../images/member/head_type_bg_ft.gif) 0 0 repeat-x;border-left: solid 1px #FFF; white-space: nowrap;z-index:90;}
#type li {list-style: none; float: left; text-align:center;  font-size: 0.75em; line-height: 26px; white-space: nowrap; background:url(../../images/member/head_nav_arr.gif) no-repeat 0 50%;}
#type a {display: block; float: left;  width: .1em; padding: 0px 15px 0px 15px; color: #FFF;}
html>body #type a {width: auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#type a {float: none;}            /* End IE5-Mac hack */
#type a:link, #type a:visited { color: #FFF;}
#type a:hover {color: #FF0;}
#type ul { margin-left:-11px; width:751px;}/*賽果定位 對齊退出鈕*/
#type .result{ float:right; padding-right:8px; background: none;}/*賽果靠右*/
/*----玩法選取----*//**/
#type .type_on:link, #type .type_on:visited { color: #F9C100;}
/*----玩法預設----*//**/
#type .type_out:link, #type .type_out:visited { color: #FFF;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Game chuang ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*暫時共用足球
#HFU #type { background-image: url(../../images/member/head_typ_fu.jpg);}
#HBK #type { background-image: url(../../images/member/head_typ_bk.jpg);}
#HTN #type { background-image: url(../../images/member/head_typ_tn.jpg);}
#HTU #type { background-image: url(../../images/member/head_typ_tu.jpg);}
#HVB #type { background-image: url(../../images/member/head_typ_vb.jpg);}
html#HVU, body#HVU { background-image: url(../../images/member/head_bg_vu.jpg); }
#HVU #type { background-image: url(../../images/member/head_typ_vu.jpg);}
html#HFS, body#HFS { background-image: url(../../images/member/head_bg_fs.jpg); }
#HFS #type { background-image: url(../../images/member/head_typ_fs.jpg);}
html#HBU, body#HBU { background-image: url(../../images/member/head_bg_bu.jpg); }
#HBU #type { background-image: url(../../images/member/head_typ_bu.jpg);}
html#HBS, body#HBS { background-image: url(../../images/member/head_bg_bs.jpg); }
#HBS #type { background-image: url(../../images/member/head_typ_bs.jpg);}
html#HBE, body#HBE { background-image: url(../../images/member/head_bg_be.jpg); }
#HBE #type { background-image: url(../../images/member/head_typ_be.jpg);}
html#HOP, body#HOP { background-image: url(../../images/member/head_bg_op.jpg); }
#HOP #type { background-image: url(../../images/member/head_typ_op.jpg);}
html#HOM, body#HOM { background-image: url(../../images/member/head_bg_om.jpg); }
#HOM #type { background-image: url(../../images/member/head_typ_om.jpg);}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~Game Selection (Link3)~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
body#HFT li.ft a:link, body#HFT li.ft a:visited,
body#HFU li.ft a:link, body#HFU li.ft a:visited,
body#HBK li.bk a:link, body#HBK li.bk a:visited,
body#HBU li.bk a:link, body#HBU li.bk a:visited, body#HBU #nav li.bu a,
body#HTN li.tn a:link, body#HTN li.tn a:visited,
body#HTU li.tn a:link, body#HTU li.tn a:visited, body#HTU #nav li.tu a,
body#HVB li.vb a:link, body#HVB li.vb a:visited,
body#HVU li.vb a:link, body#HVU li.vb a:visited, body#HVU #nav li.vu a,
/*body#HFS li.fs a:link, body#HFS li.fs a:visited,*/
body#HBS li.bs a:link, body#HBS li.bs a:visited,
body#HBE li.bs a:link, body#HBE li.bs a:visited, body#HBE #nav li.be a,
body#HOP li.op a:link, body#HOP li.op a:visited,
body#HOU li.op a:link, body#HOU li.op a:visited, body#HOU #nav li.op a
{ color: #F9C100;}
/*----玩法選取----*//**/
.type_on { color: #F9C100;}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ For Mac/Safari Fix ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*html > body #nav { width: 640px; margin-top: 7px;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Hideaway link ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#extra2 {	display: none;}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Extra link R.B ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*#extra1 {}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~ Extra link Baccarat ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*#extra2 {	position: absolute;	left: 250px;	top: 2px;width:140px; height:27px; background: url(../../images/member/head_ad_ba.gif) no-repeat 0 0;}
#extra2 a { display:block; width:140px; height:27px;}*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 帳戶記錄 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#mem_box {	clear: both;	position: absolute;	top: 61px;	width:240px;	height: 57px;	padding-top:9px;	text-align:center;	color:#FFF;	border-top: 1px solid #FFF;	background-color:  #493721;	font: 0.75em Arial, Helvetica, sans-serif;}
#mem_box a:link, #mem_box a:visited { color: #FFF;}
#mem_box a:hover {color: #F8C100;}
#mem_box #mem_main .his {	padding-right: 25px;}
#mem_box #mem_main .wag {	padding-left: 25px;}
#mem_box #credit_main {	text-align: left;	height: 24px;margin-top: 8px;	padding: 0 12px;	line-height: 24px;font-weight: bold;	background: url(../../images/member/head_credit_icon.gif) no-repeat 12px top;}
#mem_box #credit {	margin-left: 29px;}
#mem_box .re_credit { position: relative; top:4px \0;margin: 2px 0 0 10px; height: 16px;	width: 16px;border: none;	*cursor: hand; cursor:pointer;background: url(../../images/member/head_credit_refresh.gif) no-repeat 0 0;}
html>body #mem_box .re_credit { background-image: url(../../images/member/head_credit_refresh.gif);} /*mac hack*/
/*滑過變色*//**/
div#mem_box input.re_credit:hover  {background: url(../../images/member/head_credit_refresh.gif) no-repeat 0 -20px;} 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 日期 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
#head_date {	color: #FFF; font-weight:normal;}

/*#head_date {	position: absolute;	top: 37px;	left: 856px;	color: #FFF;font: 0.75em Arial, Helvetica, sans-serif;}*/

/*~~~~~~~~~~~~~~~~~~~~~~~~~~ RB Menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
div#welcome li.rb, div#welcome li.rb_on { position:relative;}
div#welcome .level2 a { display:block; float:left; /*padding:5px 4px 5px;*/ height:36px;text-decoration:none;}
#welcome li.rb_on .level2 a:link, #welcome li.rb_on .level2 a:visited, #welcome ul.level2 a:link, #welcome ul.level2 a:visited  { color: #44321C;}

div#welcome .level2 a:hover {color: #900;}
div#welcome ul ul li { list-style:none;margin-right: 0px; padding-top:0; background-color:#FEF7E7;}
div#welcome ul.level1 li.rb:hover ul.level2, div#welcome ul.level1 li.rb_on:hover ul.level2 { display:block; height:36px;}
div#welcome ul.level2 {position:absolute; height:36px;line-height:36px;width: 800px; top:34px!important;	z-index:1000;	left:0px; font-family:Arial, Helvetica, sans-serif;
	display:none;
	visibility: visible;
}
html > body div#welcome ul ul { white-space:nowrap;}
html > body div#welcome ul.level2 {top: -27px;}
html > body .rb:hover .level2, html > body .rb_on:hover .level2 { display:block;}

#RB_MENU li.rb_bg_right { width:4px; height:36px; margin-left:-1px; background:url(../../images/member/head_rb_menu_r.gif) no-repeat 100% 100%;}
#RB_MENU li.rb_bg_left { width:4px; height:36px; background:url(../../images/member/head_rb_menu_l.gif) no-repeat 0 100%;}

#RB_FT, #RB_BK, #RB_TN, #RB_VB, #RB_BS, #RB_OP {padding:0 10px; background:url(../../images/member/head_rb_menu_line.gif) no-repeat 100% 0;}
/* 點選該滾球後 -- 導覽列色 rb_menu_on */
#welcome .level2 .rb_menu_on a:link , #welcome .level2 .rb_menu_on a:visited { color:#900!important;}
/* 點選該滾球後 -- 其他滑過色 rb_out */
#welcome .level2 .rb_out a:hover { color:#900!important;}