<%-- 
Name:
Author: 
Description: 
--%>
<%--
常用标签：
<%= Utility.UpCaseFirst(name)%>
<%= name%>
<%= chinese[i]%>
<%= attribute[i]%>
<%= title%>
--%>
<%@ CodeTemplate Language="C#" ResponseEncoding="UTF-8" TargetLanguage="Text" Src="" Inherits="" Debug="False" Description="Template description here." %>
<%@ Property Name="voname" Type="System.String"  Optional="False" Category="Strings" Description="This is voname." %>
<%@ Property Name="attributes" Type="System.String"  Optional="False" Category="Strings" Description="This is attributes." %>
<%@ Property Name="cn_names" Type="System.String"  Optional="False" Category="Strings" Description="This is attributes." %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="System.Data" %>
<%@ Assembly Src="Internal\Utility.cs" %>
<%string name = voname;
string[] attribute = Utility.Split(attributes);
string[] cn_name = Utility.Split(cn_names);
%>
<script language="javascript" type="text/javascript">
/**
 * 参数检测
 */
function isValid(){
	<%for(int i = 1;i < attribute.Length;i++){%>
	if (document.objForm.<%= attribute[i]%>.value == "")
	{
		alert ('请输入<%= cn_name[i]%>。');
		document.objForm.<%= attribute[i]%>.focus();
		return false;
	}
	<%}%>
	
	return true;
}

/**
 * 提交修改
 */
function do_edit_save(){
	if(isValid()){
		document.objForm.action = "$link.setAction('/basedata/<%= Utility.UpCaseFirst(name)%>Action.do')";
    	document.objForm.method.value = "edit_save";
    	document.objForm.submit();
	}
}

</script>
<!-- 工作区 -->
<form name="objForm" method="post">

    <!-- 隐含域 start -->
    <input type="hidden" name="method" >
    $!params.getHiddenAll() 
    <!-- 隐含域 end -->

	<table class="maintb">
		<tr><th colspan="10">修改</th></tr>    
		<tr>
			<%for(int i = 0;i < attribute.Length;i++){%>
		<tr>
			<td class="label"><%= cn_name[i]%></td>
			<td><input name="<%= attribute[i]%>" type="text" class="text"  maxlength="20" value="$!<%= Utility.UpCaseFirst(name)%>.get<%= Utility.UpCaseFirst(attribute[i])%>()"/></td>			
		</tr>
			<%}%>
		<tr>
			<th colspan="10" class="op">
				<input class="button" type="button" onClick="do_edit_save()" value="修改" />
				<input class="button" type="button" onClick="history.back()" value="返回" />
			</th>
		</tr>
	</table>

</form>

<script runat="template">
</script>