<script language="javascript" type="text/javascript">
/**
 * 参数检测
 */
function isValid(){
	
	return true;
}

/**
 * 提交新增
 */
function do_add_save(){
	if(isValid()){
		document.objForm.action = "$link.setAction('/basedata/RestrauntAction.do')";
    	document.objForm.method.value = "add_save";
    	document.objForm.submit();
	}
}

</script>
<!-- 工作区 -->
<form name="objForm" id="objForm" method="post" >

    <!-- 隐含域 start -->
    <input type="hidden" name="method" />
    $!params.getHiddenAll() 
    <!-- 隐含域 end -->

	<table class="maintb">
		<tr><th colspan="10">新增</th></tr>    
		<tr>
		<tr>
			<td class="label">餐馆名称</td>
			<td><input name="restraunt_name" type="text" class="text"  maxlength="20"/></td>			
		</tr>
		<tr>
			<td class="label">联系电话</td>
			<td><input name="restraunt_tel" type="text" class="text"  maxlength="20"/></td>			
		</tr>
		<tr>
			<td class="label">地址</td>
			<td><input name="restraunt_address" type="text" class="text"  maxlength="20"/></td>			
		</tr>
		<tr>
			<th colspan="10" class="op">
				<input class="button" type="button" onClick="do_add_save()" value="新增" />
				<input class="button" type="button" onClick="history.back()" value="返回" />
			</th>
		</tr>
	</table>

</form>