<script language="javascript" type="text/javascript">
//action请求
var action = "$link.setAction('/sys/SysRoleAction.do?#arclist')";

function do_clear(){	
	document.objForm.$!{params.names.role_id}.value = "";
	document.objForm.$!{params.names.role_name}.value = "";
}

//翻页
function goto_page(aIndex){
	document.objForm.reset();
	document.objForm.action = action;
	document.objForm.method.value = "query";
	document.objForm.$!{params.names.pageIndex}.value = aIndex;
	document.objForm.submit();
}

function do_query(){
	document.objForm.action = action;
	document.objForm.method.value = "query";
	document.objForm.submit();	
}

function do_add()
{
	document.objForm.action = action;
	document.objForm.method.value = "add";	
	document.objForm.submit();
}

function do_edit(id)
{
	document.objForm.action = action;
	document.objForm.method.value = "edit";	
	document.objForm.role_id.value = id;	
	document.objForm.submit();
}

function do_view(id)
{
	document.objForm.action = action;
	document.objForm.method.value = "view";	
	document.objForm.role_id.value = id;	
	document.objForm.submit();
}


function do_edit_role_permit(id)
{
	document.objForm.action = "$link.contextPath/sys/SysGrantAction.do";
	document.objForm.method.value = "edit_role_permit";	
	document.objForm.role_id.value = id;	
	document.objForm.submit();
}

function do_delete_batch(){
	if(!isSelect('reclist')){
		alert("请至少选择一个记录！");
	}
	else{
		document.objForm.action = action;
		document.objForm.method.value = "delete";
		document.objForm.submit();
	}
}
</script>
<form name="objForm" method="#method()">
	
	<!-- 隐含域 start-->
    <input type="hidden" name="method">
	<input type="hidden" name="role_id">
	<input name="$!params.names.pageIndex" type="hidden" value="$!sysRoleList.pageIndex">
    <!-- 隐含域 end-->

	<ul class="current">
		<li class="pos">
		　 当前位置：系统管理/角色列表
		</li>
		<li class="op">
			<input type="button" class="button" value="新增角色"  onclick="do_add();" />
		</li>
	</ul>
	
	<table class="maintb">
        <tr>
          <th colspan="10">查询条件</th>
        </tr>
		<tr>
			<td class="label">角色ID</td><td><input class="text" type="text" name="$!params.names.role_id" value="$!params.values.role_id" /></td>
			<td class="label">角色名</td><td><input class="text" type="text" name="$!params.names.role_name" value="$!params.values.role_name" /></td>
		</tr>		
		<tr>
			<th colspan="10" class="op">
				<input class="button" type="button" value="查询" onclick="do_query();"/>
				<input class="button" type="reset" value="重置"/><input class="button" type="button" value="清空" onclick="do_clear();"/>
		 	</th>
        </tr>
	</table>
	
	<table class="maintb" id="reclist">
        <tr>
          <th colspan="10">#page_count($sysRoleList)</th>
        </tr>
		<tr>
			<td class="title" style="width:20px;">&nbsp;</td>
			<td class="title">角色ID</td>
			<td class="title">角色名</td>
			<td class="title">说明</td>
			<td class="title">&nbsp;</td>
		</tr>
		#foreach($sysRole in $sysRoleList.getPage())
		<tr>
			<td><input class="checkbox" type="checkbox" name="pk" value="$!sysRole.role_id" title="选择/不选择" /></td>
			<td><a href="javascript:do_view('$!sysRole.role_id');">$!sysRole.role_id</a></td>
			<td>$!sysRole.role_name</td>		
			<td>$!sysRole.note</td>
			<td>
				<input class="button" type="button" value="编辑" onClick="do_edit('$!sysRole.role_id')" />
				<input class="button" type="button" value="设置权限" onClick="do_edit_role_permit('$!sysRole.role_id')" />
			</td>
		</tr>
		#end 
		 <tr>
          <th colspan="10" class="op">
			<div class="selectarea">#select("reclist") <input class="button" type="button" value="删除" onclick="do_delete_batch('reclist')"/></div> #page_navg($sysRoleList "goto_page")
		  </th>
        </tr>
	</table>
</form>