<script language="javascript" type="text/javascript">
/**
 * 参数检测
 */
function isValid(){
	
	if (isEmpty(document.objForm.organ_id.value))
	{
		alert ('请选择组织机构ID!');
		document.objForm.organ_id.focus();
		return false;
	}
	
	if (isEmpty(document.objForm.user_id.value))
	{
		alert ('请输入登录名!');
		document.objForm.user_id.focus();
		return false;
	}

	if (isEmpty(document.objForm.user_name.value))
	{
		alert ('请输入用户名!');
		document.objForm.user_name.focus();
		return false;
	}
	
	if (isEmpty(document.objForm.password.value))
	{
		alert ('请输入用户密码!');
		document.objForm.password.focus();
		return false;
	}

	if (document.objForm.password.value != document.objForm.password1.value)
	{
		alert ('两次输入的密码不一致，请再次输入确认密码!');
		document.objForm.password1.focus();
		return false;
	}
	
	return true;
}

/**
 * 提交新增
 */
function do_add_save(){
	if(isValid()){
		document.objForm.action = "$link.setAction('/sys/SysUserAction.do')";
    	document.objForm.method.value = "add_save";
    	document.objForm.submit();
	}
}

</script>
<!-- 工作区 -->
<form name="objForm" method="post">

    <!-- 隐含域 start -->
    <input type="hidden" name="method" />
    <input type="hidden" name="state" value="0" />
    $!params.getHiddenAll() 
    <!-- 隐含域 end -->

	<ul class="current">
		<li class="pos">
		　 当前位置：用户管理/新增用户
		</li>
		<li class="op">
		</li>
	</ul>
	
	<table class="maintb">
		<tr><th colspan="10">新增</th></tr>    
		<tr>
			<td class="label">所在机构</td>
			<td>
				<select name="organ_id" class="dropdownlist" style="width:240px;">
    				#organOptions($organList "")
    			</select>
			</td>			
		</tr>		
		<tr>
			<td class="label">登录名</td>
			<td><input name="user_id" type="text" class="text"  maxlength="20"/></td>			
		</tr>
		<tr>
			<td class="label">用户名</td>
			<td><input name="user_name" type="text" class="text"/></td>			
		</tr>
		<tr>
			<td class="label">用户密码</td>
			<td><input name="password" type="password" class="text"/></td>			
		</tr>
		<tr>
			<td class="label">确认密码</td>
			<td><input name="password1" type="password" class="text"/></td>			
		</tr>
		<!--tr>
			<td class="label">用户状态</td>
			<td><select name="state">
					#sysDictOptions("sys_user_state" "")
				</select>		
			</td>			
		</tr-->
		<tr>
			<td class="label">备注</td>
			<td><textarea name="note" class="text" style="width:300px;height:100px;"></textarea></td>			
		</tr>
		<tr>
			<th colspan="10" class="op">
				<input class="button" type="button" onClick="do_add_save()" value="新增保存" />
				<input class="button" type="button" onClick="history.back()" value="返回" />
			</th>
		</tr>
	</table>

</form>