<script language="javascript" type="text/javascript">
</script>
<!-- 工作区 -->
<form name="objForm" method="post">
	<ul class="current">
		<li class="pos">
		　 当前位置：系统管理/查看角色
		</li>
		<li class="op">			
		</li>
	</ul>
	
	<table class="maintb">
		<tr><th colspan="10">查看</th></tr>		
		<tr>
			<td class="label">角色ID</td>
			<td>$!sysRole.role_id</td>			
		</tr>
		<tr>
			<td class="label">角色名</td>
			<td>$!sysRole.role_name</td>			
		</tr>	
		<tr>
			<td class="label">备注</td>
			<td>$!sysRole.note</td>			
		</tr>
		<tr>
			<th colspan="10" class="op">
				<input class="button" type="button" onClick="history.back()" value="返回" />
			</th>
		</tr>
	</table>

</form>